#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.window {
  height: auto;
  width: 60em;

  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  row-gap: 2em;

  padding: 5em 6em;
  border-radius: 2em;

  color: #eeeeee;
  background-color: #333;

  filter: drop-shadow(0 0.5rem 1rem #666);
}

.end {
  margin-top: 2em;
}